<div class="panel panel-default">
  <div class="panel-heading"
        role="tab" 
        id={{ '"heading' | append: linkId | append: '"' }} 
        data-toggle="collapse" 
        href={{ '"#collapse' | append: linkId | append: '"' }} 
        aria-expanded="false" 
        aria-controls={{ '"#collapse' | append: linkId | append: '"' }}>
    <ul class="nav">
      <li id={{ '"collapse' | append: linkId | append: '"' }} class="navbar-left"><span class="glyphicon glyphicon-menu-right"></span></li>
      <li id={{ '"collapse' | append: linkId | append: '"' }} class="navbar-left collapse"><span class="glyphicon glyphicon-menu-down"></span></li>
      <li class="navbar-left fixedWidth">
      {% case method %}
        {% when 'GET' %}
           <span class="label label-primary">{{ method }}</span>
        {% when 'POST' %}
           <span class="label label-success">{{ method }}</span>
        {% when 'PUT' %}
           <span class="label label-warning">{{ method }}</span>
        {% when 'DELETE' %}
           <span class="label label-danger">{{ method }}</span>
      {% endcase %}
      </li>
      <li class="navbar-left">{{ endpoint }}</li>
      <li class="navbar-right">{{ summary}}</li>
    </ul>
  </div>
  
  <div  id={{ '"collapse' | append: linkId | append: '"' }}
        class="panel-collapse collapse" 
        role="tabpanel" 
        aria-labelledby={{ '"heading' | append: linkId | append: '"' }}>
    <div class="panel-body">
      {{ description | markdownify }}
      {% include exampleFieldset.html %}
    </div>
  </div>
</div>
