<ol>
{% for node in site.pages %}
	{% if node.title != nil and node.url != '/' %}
		{% capture nodediff %}{{ page.url | remove:node.url }}{% endcapture %}
		{% if node.isSubPage == nil %}
			<li><a {% if nodediff != page.url %}class="active" {% endif %}href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
		{% endif %}
		{% if node.category == page.category %}
			{% for sec in node.sections %}
				<ul>
					{% capture anker %}{{ sec[1] | downcase | replace:' ','-' }}{% endcapture %}
					<li><a href="{{site.baseurl}}{{node.url}}#{{ anker }}">{{ sec[1] }}</a></li>
					
					{% assign subpages = (site.pages | where: "isSubPage" , "true" | where : "category" , "page.category" ) %}
					{% for subpage in subpages %}
						{% for sec in subpage.sections %}
							<ul>
								{% capture anker %}{{ sec[1] | downcase | replace:' ','-' }}{% endcapture %}
								<li><a href="{{site.baseurl}}{{node.url}}#{{ anker }}">{{ sec[1] }}</a></li>
							</ul>
						{% endfor %}
					{% endfor %}
				</ul>
			{% endfor %}
		{% endif %}
	{% endif %}
{% endfor %}
</ol>
