<nav><ol>
{% for node in site.pages %}
	{% if node.title != nil and node.url != '/' %}

	{% capture nodediff %}{{ page.url | remove:node.url }}{% endcapture %}
	<li><a {% if nodediff != page.url %}class="active" {% endif %}href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
	{% if node.category == page.category %}
	{% for sec in node.sections %}
		<ul>
			{% capture anker %}{{ sec | downcase | replace:' ','-' }}{% endcapture %}
			<!-- As no replace_last exists we need to replace the last '/' of the node's url by '#' a cumbersome way -->
			<li><a href="{{site.baseurl}}{{node.url | replace:'/','#' | replace_first:'#','/'}}{{ anker }}">{{ sec }}</a></li>
		</ul>
	{% endfor %}
	{% endif %}
	{% endif %}
{% endfor %}
</ol></nav>
