<ol>
{% for node in site.pages %}
	{% if node.title != nil and node.url != '/' and node.isSubPage != true %}
		{% capture nodediff %}{{ page.url | remove:node.url }}{% endcapture %}
		<li><a {% if nodediff != page.url %}class="active" {% endif %}href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
		
		{% if node.category == page.category %}
			{% for sec in node.sections %}
				
				<ul>
					{% assign subPage = nil %}
					{% for pg in site.pages %}
						{% if pg.isSubPage == true and pg.category == node.category and pg.subCategory == sec[0] %}
							{% assign subPage = pg %}
						{% endif %}
					{% endfor %}
					
					{% capture anker %}{{ sec[1] | downcase | replace:' ','-' }}{% endcapture %}
					{% capture url %}{{site.baseurl}}{{node.url}}{% unless subPage %}#{% endunless %}{{ anker }}{% endcapture %}
					<li><a href="{{url}}">{{ sec[1] }}</a></li>
					
					{% if subPage %}
						{% for section in subPage.sections %}
							<ul>
								{% capture anker %}{{ section[1] | downcase | replace:' ','-' }}{% endcapture %}
								<li><a href="{{url}}#{{ anker }}">{{ section[1] }}</a></li>
							</ul>
						{% endfor %}
					{% endif %}
					
				</ul>
			{% endfor %}
		{% endif %}
	{% endif %}
{% endfor %}
</ol>
