
{% for node in site.pages %}
	{% if node.title != nil and node.url != '/' and node.isSubPage != true %}
		{% capture nodediff %}{{ page.url | remove:node.url }}{% endcapture %}
		
		{% if node.area == page.area %}
			{% for sec in node.sections %}
				
				<ul class="subNavList">
					{% assign subPage = nil %}
					{% for pg in site.pages %}
						<li>{{ 'Area1:' | append : node.area | append: 'Area0:' | append: pg.area }}</li>
						{% if pg.isSubPage == true and pg.area == node.area and pg.category == sec[0] %}
							{% assign subPage = pg %}
						{% endif %}
					{% endfor %}
					
					{% if subPage %}
						{% capture url %}{{site.baseurl}}{{ subPage.url}}{% endcapture %}
						<li><a {% if subPage.url == page.url %}class="bold" {% endif %}href="{{url}}">{{ sec[1] }}</a></li>
						
						{% if subPage.url == page.url %}
							{% if subPage.sections.size > 0 %}
								{% for subsec in subPage.sections %}
									<ul class="subNavList">
										{% capture anker %}{{ subsec[1] | slugify }}{% endcapture %}
										<li><a href="{{url}}#{{ anker }}">{{ subsec[1] }}</a></li>
									</ul>
								{% endfor %}
							{% else %}
								{% for pg in site.pages %}
									{% if pg.isSubPage == true and pg.area == node.area and pg.category == subPage.category %}
										{% capture url %}{{site.baseurl}}{{ pg.url}}{% endcapture %}
										<li><a {% if pg.url == page.url %}class="bold" {% endif %}href="{{url}}">{{ pg.title }}</a></li>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endif %}
					{% endif %}
					
				</ul>
			{% endfor %}
		{% endif %}
	{% endif %}
{% endfor %}

